/* body {
    background-color: rgb(119, 234, 249);
 
} */

.navbar {
    background-color: rgb(238, 241, 90);
}
#btn{
    background-color: rgb(245, 104, 217);
    padding-top: 10;
}
#btn2{
    background-color: rgb(245, 104, 217);
    padding-top: 10;
}
h3{
    color: rgb(55, 0, 255);

}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
#hh4{
    color: brown;
}
/* #summary1{
    background-color: rgb(243, 244, 188);
} */